.gmbrpalsu {
    height: 1080px;
}

/* gaya untuk navigasi */
body {
    display: block;
    overflow-x: hidden;
}

nav {
    background-color: hsl(333, 100%, 50%);
}

.navbar-brand img {
    max-height: 50px;
}

.navbar-brand {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
    color: hsl(333, 100%, 50%)
}

nav ul li a {
    color: #ff0055;
}

nav ul li a:hover {
    color: aliceblue;
}

/* gaya untuk hero */
section {
    padding-top: 50px;
    padding-bottom: 50px;
}

a {
    color: hsl(333, 100%, 50%);
}

h1 {
    text-transform: uppercase;
    font-weight: 900;
    color: hsl(333, 100%, 50%);
    text-align: left;
    margin-bottom: 20px;
}

section p {
    font-size: 16px;
    font-weight: 300;
}

.btn {
    text-transform: uppercase;
    max-width: 50%;
    border-radius: 24px;
    background-color: hsl(333, 100%, 50%);
    font-weight: 900;
}

#hero .col {
    justify-content: center;
    flex-direction: column;
    display: flex;
}

#hero .img-col {
    justify-content: flex-end;
    margin-top: 100px;
}

#hero img {
    max-width: 130% !important;
    width: 130%;
}

/* gaya untuk kartu */
#hero .card {
    box-shadow: 11px 7px 16px #f9f9f9;
    border: 0;
    text-align: center;
}

#hero .cards .card {
    width: 18rem;
}

/* gaya untuk ikon */
#hero .icon {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

#projects .projects {
    margin-bottom: 50px;
}